<template name="shortest_ride">

{{#with getTripByTime}}
	<div class="result-header">
		<span class="header-text">{{trip_duration trip_duration_seconds}}... Whoa. </span>
<!-- 		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-secondary active">Time</button>
		  <button type="button" class="btn btn-secondary">Distance</button>
		</div> -->
	</div>
	 <div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>

{{/with}}
	
</template>